.employee-container {
  display: flex;
  justify-content: center;
}

.employee-info {
  text-align: center;
  margin-right: 50px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.employee-table th {
  background-color: #f0f0f0;
}

.employee-projects-box {
  margin-bottom: 30px;
}

.employee-headed-projects-box {
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .btn {
  margin: 0 5px;
}
.logout-button {
    
  margin-top: 230px;
  margin-right: 0px;
  border: 1px solid #dc3545;
}

.edit-button {

  margin-top: 220px;
  margin-right: 30px;
  border: 1px solid #dc3545;
}

.client-heading {
  text-align: center;
  margin-bottom: 30px;
}

#table-text {
  display: inline;
  color: #f0f0f0;
}

#form-text{
  color: #0b0b0b;
  display: inline;
  position: relative;

}
