/* loginpage.css */

/* Dark theme */
body {
  background-color: #111;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #222;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Set label text color to white */
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

button[type="submit"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.error-message {
  color: #ff5722;
  margin-bottom: 10px;
  text-align: center;
}
